@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #424549;
    font-family: 'Roboto', sans-serif;
}

canvas {
    border-radius: 10px;
}

.MainButton {
    background-color: orange;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    font-family: inherit;
    font-weight: bold;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    padding: 5px;
    color: white;
    font-weight: bolder;
}

#Game {
    position: fixed;
    top: 56%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

.MainButton:hover {
    transition-duration: 0.1s;
    filter: drop-shadow(5px 5px 10px black)
}